/* General Styles */
.app {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-screen {
  height: 100%;
  width: 100%;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure full width */
  height: 100%; /* Ensure full height */
  object-fit: cover; /* Adjust how the image scales */
  z-index: 1; /* Ensure it stays below other elements */
}

.game-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center game name and play button */
  text-align: center;
  z-index: 2; /* Render above the background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 16px;
  height: 55vh;
  width: 55vw;
}

.game-name {
  max-width: 80%; /* Scale the game name image appropriately */
  height: 19%;
  margin-bottom: 20px;
  animation: float 10s ease-in-out infinite; /* Add floating animation */
  margin-top: 16px;
}

.play-button {
  width: 22vw; /* Set a default size for the play button */
  cursor: pointer; /* Show pointer cursor for interactivity */
  transition: transform 0.3s ease;
}

.play-button:active {
  animation: scaleUpDown 1.5s; /* Slightly enlarge button on hover */
}

/* Fade-in and fade-out animations */
.fade-in {
  animation: fadeIn 3s ease-in-out forwards;
}

.fade-in-button {
  animation: fadeInButton 1s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInButton {
  from {
    background-color: rgba(255, 255, 255, 0);;
  }
  to {
    background-color: rgba(255, 255, 255, 0.75);;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleUpDown { 
  0% { 
    transform: scale(1); 
  } 
  50% { 
    transform: scale(1.1); 
  } 
  100% { 
    transform: scale(1); 
  } 
}

@keyframes float {
  0% {
    transform: translate(0, 0); /* Start at the original position */
  }
  25% {
    transform: translate(4px, -12px); 
  }
  50% {
    transform: translate(-6px, -6px); 
  }
  75% {
    transform: translate(6px, -6px); 
  }
  100% {
    transform: translate(0, 0); /* Return to the original position */
  }
}

/* Landscape mode styles */
@media (orientation: landscape) {
  .rotate-message {
    display: none; /* Hide the rotate message */
  }
}

/* Portrait mode styles */
@media (orientation: portrait) {
  .app-content {
    display: none; /* Hide the app content */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    overflow: hidden;
    position: relative;
  }

  .rotate-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
  }
}